
.pera{
  padding-bottom: 30px;
	font-family: 'poppins', sans-serif;

}
.headers{
	padding-bottom: 30px;
}

h1{
  font-size: 90px;
  font-family: 'poppins', sans-serif;
}
h2{
	  font-family: 'poppins', sans-serif;

  font-size: 36px;
}
img{
	width: 100%;
}
.zahid{
  color:orange;
}

.secone{
  background-image: url(top-banner.png);
background-repeat: no-repeat;
  padding-bottom: 200px;
}
.button{
  text-decoration: none;
  background-color:  tomato ;
  padding:10px 20px; 
  border-radius: 10px;
  color:white;
  font-weight: 700;
  margin-bottom: 150px;
}
.dream-area{
  background-image: url(dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.box{

  box-shadow: 10px 10px 40px gray;
  border-radius: 15px;
  border-left: 7px solid tomato;
  padding:20px;
  margin: 15px;
}

.experience{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
	margin-top: 60px; 
	margin-bottom: 60px; 
}
.asdf{
  color: tomato;
}
.footer{
	padding-top: 60px;
  text-align: center;
  	font-family: 'poppins', sans-serif;

}
.asd{
  padding-bottom: 30px;
  text-align: center;
}
.row{
	margin-top: 70px; 
}
