h1{ 
    color: green;
    background-color: red;
    width: 100%; 
    text-align:center;
}
p{
    font-size: 15px; 
    font-weight: bold;
}
#gh {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.web{color:red;
}
.service{
   border: 5px solid green;
   border-radius: 30px;
   width:31%;
   margin: 10px; 
   float: left;
}
h3{
    text-align: center;
}